
<!--*********INFORMATION SPACE********-->
<div id="info_space">
<H2>Contact Us</H2>
<h3> 2015-16 League Leadership Committee</h3>

<p>
	For email addresses please contact: <a href="mailto:bmonzo@gmail.com?Subject=Kehillah Soccer Inquiry" target="_top">info@kehillahsoccer.com</a></p>

	<ul>
		<li>Marie Schwartz, <i>President</i></li>
		<li>Doug Karan, <i>President Emeritus</i></li>
		<li>Steve Gable, <i>President Emeritus, Treasurer</i></li>
		<li>Ivan Wolnek, <i>Field and Maintenance Coordinator</i></li>
		<li>Ivan Wolnek, <i>Field and Maintenance Coordinator</i></li>
		<li>David Axelrod and Hank Greenbaum, <i>Team Formation</i></li>
		<li>Allison Selbst, <i>Special Needs Coordinator</i></li>
		<li>Scott Minkoff, <i>Webmaster</i></li>
		<li>Rob Greenbaum and Amy Blum, <i>Picture Day</i></li>
	</ul>

<p><strong>Mailing Address:</strong><br>
	P.O. Box 1234<br>
	Soccer Town, PA  12344</p>

<p>For a list of our <strong>committee meetings</strong> please visit our <a href="/important info">important info</a> page.</p>

<p>For <strong>weather policy</strong> details<a href="/important info"> click here.</a>
</p>



</div> <!--close info_space-->

