
<!--*********INFORMATION SPACE********-->
<div id="info_space">
<H2>Gallery</H2>
<h3>Fall 2014 Season</h3>

<p>
	Enjoy viewing some photos of the season.</p>
<p>
	This will be a photo gallery viewer broken down by Season. When the page loads you will see a selection of photos to choose from, once you select a season the gallery view will load and you can scroll left and right through photos of that season.</p>
<p>
	<strong>I think I may have found a gallery on github<a href="https://github.com/jackwanders/GalleryView"> here.</strong></a>
</p>
<br>
<br>
<br>


</div> <!--close info_space-->

