
<!--*********INFORMATION SPACE********-->
<div id="info_space">
	<H2>Important Information</H2>
	<h3> Subtitles of page</h3>

	<p><strong>Dress Code</strong><br>
	Due to the intensity of the game, we take pride in the safety and caring of your children.</p>

	<p>With that in mind, we have implemented a dress code for the safety of all players.</p>

	<ol>
		<li>1. Soccer socks that come up to the knees that are made to have shin guards underneath.</li><br>

		<li>2. Shin guards are required for all players and must be worn underneath the soccer socks. This is to keep the shin guards in their proper position. Shin guards come in different sizes so please have your child fitted properly so that they are both comfortable to wear and offer the proper protection.</li><br>

		<li>3. Rubber cleats are recommended for pre-k and kindergarten divisions, but mandatory for grades first through seventh divisions. Metal cleats are NOT allowed to be worn by the children.</li><br>

		<li>4. Earrings: all studs must be covered or taped on both the front and back of the stud. No hoops of any kind are allowed due to safety issues</li><br>

		<li>5. Glasses: all glasses must be worn with an athletic strap that will keep the glasses from falling to the ground and being broken.</li><br>

		<li>6. No baseball hats, necklaces, rings or bracelets are to be worn due to safety issues.</li><br>

		<li>7. Every player should bring a filled water bottle for hydration purposes.</li><br>

		<li>8. Every player should bring their own soccer ball. Size 3: Pre-K to 2nd Grade. Size 4: 3rd Grade to 6th Grade. Size 4 OR Size 5 for 7th and 8th Grades.</li><br>
	</ol>

	<p>Thank you for your understanding and cooperation!</p>

	<p><strong>Weather Cancellation Policy</strong></p>
	<p>The process to let parents and coaches know if games are cancelled:</p>
	 
	<p>The service for Team Hot Line that we have used in previous years is not available anymore for us to use. Thus, the league will be sending out a mass email only when games are to be cancelled. All parents’ emails that were entered during the on-line registration process by the parents will be emailed.</p>
	 
	<p>This email will be sent no later than 10 am for Pre-K and 12:15pm for Divisions K to Eighth Grade (child’s grade as of September, 2013) which is one hour before the scheduled play time. We do play through rain but not with lightning/thunder. The default is that we are playing unless you get an email saying otherwise.</p>
	 
	<p>
		Thank you for your understanding.<br>
		Justin Mixon, <i>President</i><br>
		Kehillah Sunday Soccer League<br>
	</p>
	 
	<p>PS. Special note for last minute change of weather: Coaching staff of particular team is always the final decision maker whether or not it is safe to play soccer on the field at the time of practice/game at the fields via on-site physical inspection of the fields and with the opposing team’s coaches’ concurrence. It is expected that the full team would be present at the fields if this last minute decision is made by the respective coaches. This should be an unusual circumstance that the weather has changed so dramatically since the email would have been sent.</p>

	<p><strong>Small Sided Games Manual</strong></p>
	<p>The manual for small-sided games is located <a href"http://www.kehillahsoccer.org/Files/Small-Sided_Games_Manual.pdf">here.</p>

</div> <!--close info_space-->

