<!--*********INFORMATION SPACE********-->
<div id="info_space">
<H2>Index Page</H2>
<h3>Welcome to Kehilla Soccer</h3>

<p><strong>Who can join the league?</strong></p>
<ul>
	<li>Entering PreK</li>
	<li>Entering Kindergarten</li>
	<li>Entering 1st - 2nd grades</li>
	<li>Entering 3rd - 4th grades</li>
	<li>Entering 5th - 8th grades</li>
</ul>

<p>
	Some copy here about the league and how great they are and what their mission is and why your child should join/register.
</p>
<p>
	If your child would like to participate in the league please visit our <a href="http://localhost:4567/register">registration </a>page. Perhaps additional verbiage to encourage parents to volunteer by driving them to the<a href="volunteer">volunteer </a>form.
</p>


</div> <!--close info_space-->

