
<!--*********INFORMATION SPACE********-->
<div id="info_space">
<h2>Register</h2>
<h3>Player Registration Information</h3>

	<p>
	We are excited to announce that registration for the Kehillah Soccer Fall 2015 season is now open.</p>

	<p>
	<strong>Please follow the link below to register.</strong> Folks that registered previously from 2010 - 2014 should click on returning player.</p>

	<p>
	If you are registering more than one child, please follow the steps carefully to register all children and only proceed to checkout and submit one payment for all children playing. This is the only way to get the discount for registering multiple children.</p>
	
	<p>
	Please register your children ASAP but definitely by July 1st, 2015, to avoid costly late fees ($35 per child) and to help our league run smoothly.</p>

	<p>
	Note to those who volunteer as a Coach or Assistant Coach: Once the registration is submitted, there is one extra step that is mandatory. On the page, "Thank You! Registration is Complete," there is a link to click on for the 2012-2013 EPYSA Risk Management Application. Please complete this step at time of registration to enable EPYSA (Eastern Pennsylvania Youth Soccer Association) to do a background check on those looking to be a Coach or Assistant Coach. There is no additional fee to complete this application. This is only for the protection of the children in our League. Thank you very much for volunteering and being part of our community Soccer League!</p>

	<p>
	We look forward to seeing you at the fields this coming Fall 2015!</p>

	<p>
	Click here to <a href="https://www.youthleaguesusa.com/epys/15-16/0646/008/Welcome.html">register</a>, or paste the following into your browser:
	<a href="https://www.youthleaguesusa.com/epys/15-16/0646/008/Welcome.html">https://www.youthleaguesusa.com/epys/15-16/0646/008/Welcome.html</a>
	</p>


</div> <!--close info_space-->

