<!--*********INFORMATION SPACE********-->
<div id="info_space">
<h2>Sponsors</h2>
<h3> Welcome Sponsors!!!</h3>
<p>
	Below is a list of league sponsors. Kehillah's sponsors have generously donated money and/or services to the league and we are extremely greatful for their support!

	<div class="sponsors">
			<img src="/public/images/Bobs_Deli_Logo.jpg">
				<p>Bob's deli has supported Kehillah Soccer now for over ten years and continues to bring delicious food to our area. Lorem ipsum
				</p>
			<br>
			<img src="tbd.jpg">
				<p>Bob's deli has supported Kehillah Soccer now for over ten years and continues to bring delicious food to our area. Lorem ipsum
				</p>
			<br>
			<img src="tbd.jpg">
				<p>Bob's deli has supported Kehillah Soccer now for over ten years and continues to bring delicious food to our area. Lorem ipsum
				</p>
			<br>		
			<img src="tbd.jpg">
				<p>Bob's deli has supported Kehillah Soccer now for over ten years and continues to bring delicious food to our area. Lorem ipsum
				</p>
			<br>		
			<img src="tbd.jpg">
				<p>Bob's deli has supported Kehillah Soccer now for over ten years and continues to bring delicious food to our area. Lorem ipsum
				</p>
	</div>

</div> <!--close info_space-->

