body{
	background-color: #CCFFCC;
}
#wrapper {
	background-color: #FFFFFF;
	width: 900px;
	margin: 0 auto;
}
/***************Kehillah Bar *********/
.topper{
	background-color: #33CCFF;
	width: 900px;
	height: 70px;
}
h1{	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #FFFFFF; 
	font-size: 3em;
	text-align: center;
	padding-left: 2px;
}


/*************Navigation UL*****************/
nav {
	font-family: sans-serif;
	margin:5px;
	width: 250px;
	background-color: #CCFFFF;
	float: left;
	margin-bottom: 300px;
	margin-right: 20px;
}
a{
	font-family: sans-serif;
	font-weight: bold;
}
a:link{
	color: #009999;
	text-decoration: none;
}
a:hover{
	color: gray;
	text-decoration: underline;
}
a:active{
	color: gray;
	text-decoration: underline;
}
li {
	font-size: 20px;
	list-style-type: none;
	text-align: left;
	line-height: 1.5em
}

/*******INFORMATION SPACE**************/
#info_space{

	width: 650px;
	text-align: left;
	background-color: #FFFFFF;
}

/********h2 is Page Title*********/
h2{
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 2.5em;
	position: relative;
	margin-top: 2px;
	padding-left: 2px;
}

/*********h3 is subtitles on page*******/

h3{
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 1.9em;
	position: relative;
	margin-top: 2px;
	padding-left: 2px;
}

img{
	float: left;
	padding-left: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
}
p{
	padding-right: 10px;
	font-family: sans-serif;
	font-size: 1.2em;
}
